<%= form_for(@txt) do |f| %>
  <% if @txt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@txt.errors.count, "error") %> prohibited this txt from being saved:</h2>

      <ul>
      <% @txt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :longtext %><br />
    <%= f.text_area :longtext %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
