<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @txt.text %>
</p>

<p>
  <b>Image url:</b>
  <%= @txt.image_url %>
</p>

<%= image_tag @txt.image_url %>

<%= link_to 'Edit', edit_txt_path(@txt) %> |
<%= link_to 'Back', txts_path %>
